button {
    width: 128px;
    height: 32px;
}

select {
    width: 160px;
    height: 40px;
}

.game_animation {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}


.game_field {
    width: 100%;
    height: 600px;
    background-color: rgb(236, 131, 33)
}

.div_arrows {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    height: 64px;
 }

.img_left_arrow {
    width: 40%;
    height: 64px;
    float: left;
    padding-left: 10%;    
}

.img_right_arrow {
    width: 40%;
    height: 64px;
    float: right;
    padding-right: 10%;
}

.div_image_big {
    width: 98%;
    height: 432px;
    margin: 0 auto;
}


.img_image_big {
    width: 100%;
    height: 100%;

}

.div_text_wide_small {
    background-color: rgb(228, 226, 226);
    text-align: center;
    color: black;
    width: 98%;
    height: 64px;
    line-height: 64px;/*align text vertically*/
    font-size: 32px;
    margin: 0 auto;
    border-radius: 4px;
}

.div_choose_word_select_area {
    width: 98%;
    height: 100px;
    margin-left: 1%;
}

.div_choice_small {
    background-color: rgb(228, 226, 226);
    text-align: center;
    color: black;
    width: 49%;
    height: 64px;
    line-height: 64px;/*align text vertically*/
    font-size: 32px;
    border-radius: 4px;
}

.div_text_wide_big {
    background-color: rgb(228, 226, 226);
    text-align: center;
    color: black;
    width: 98%;
    height: 96px;
    line-height: 96px;/*align text vertically*/
    font-size: 32px;
    margin: 0 auto;
    border-radius: 4px;
}

.div_small_empty_space {
    clear: both;
    height: 4px;
}

.div_medium_empty_space{
    clear: both;
    height: 16px;
}


/*Find image game*/
.div_find_image_field {
    width: 98%;
    height: 500px;
    margin: 0 auto;
}


.div_find_image_choice {
    display: table;
    background-color: white;
    border-radius: 6px;
    width: 49%;
    height: 49%;
    margin-top: 16px;
}

.div_find_image_choice p {
    display: table-cell; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle; 
    text-align: center; 
    font-size: 32px;
}


.div_find_image_bottom_word {
    text-align: center;
    color: white;
    width: 98%;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    margin: 0 auto;
}


/* Match words game*/
.div_match_words_field {
    width: 98%;
    height: 100%;
    margin: 0 auto;
}


.div_match_words_choice {
    display: table;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}


.div_match_words_choice p {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    font-size: 24px;
    color: black;
    border-radius: 4px;
}


.div_match_words_left {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 49%;
    height: 64px;
    float: left;
}

.div_match_words_right {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 49%;
    height: 64px;
    float: right;
}

/* Listen and choose */
.div_listen_choose_choice {
    background-color: white;
    border-radius: 6px;
    width: 48%;
    height: 46%;
    margin-top: 12px;
    margin-left: 4px;
    margin-right: 4px;
}
.div_listen_choose_choice_table {
    display: table;
    width:100%;
    height:85%;
    vertical-align: top;
}

.div_listen_choose_choice_table img {
    width: 100%;
    height: 100%;
    display: table-cell; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.div_listen_choose_choice p {
    width: 100%;
    height: 28px;
    background-color: rgb(228, 226, 226);
    vertical-align: bottom; 
    text-align: center;
    font-size: 24px;
}
